* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	background: #f1f2f3;
	color: #6c757d;
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3f5c; 
}

a {
	text-decoration: none;
	color: #6c757d;
	transition: 0.3s;
}

ul {
	list-style-type: none;
}


/*****NAV*****/

nav {
	position: fixed;
	width: 3%;
	height: 100vh;
	background: #1f1f2d;
	transition: 0.6s ease-in-out;
}

#links {
	width: 100%;
	display: none;
}

#links ul li {
	padding: 10px 0;
}

#admin_logo {
	color: #e0e6ed;
	margin: 10px 5px 60px 5px;
	font-size: 2em;
	font-weight: bold;
}



nav:hover {
	width: 13%;
	padding: 0 10px;
}

nav:hover > #links {
	display: flex;
	flex-direction: column;
	transition: 0.5s;
}

nav a:hover {
	color: #9ea3ac;
}





/*****MAIN*****/


main div > div {
	padding-left: 5%;
	background: #fff;
	margin: 0 6%;
	border: 0.5px solid #e0e6ed;
	border-radius: 5px;
}

.title {
	width: 95vw;
	height: 70px;
	margin-bottom: 20px;
	margin-left: 0;
	border-radius: 0;
}

.title h1 {
	font-size: 1.5em;
	padding-top: 18px;
}

.links {
	width: 18%;
	padding: 20px;
}

.links ul li {
	margin: 10px 0 10px 15px;
}

.links ul li a {
	text-decoration: none;
	color: #3b3f5c;
}


form {
	display: flex;
	flex-direction: column;
	padding: 25px;
	width: 80%;
}

form > div {
	display: flex;
	margin: 10px 0;
}

form input {
	margin-left: 5px;
	width: 40%;
}

form button {
	width: 150px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #3b3f5c;
	cursor: pointer;
}




/***FORMS TO CONTACT***/

#search_requests {
	width: 30%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 0 0 0 20px;
}

#search_requests input {
	width: 90%;
	border-radius: 15px;
	border: 1px solid grey;
}



table,
table th,
table td {
	border: 1px solid grey;
}

table {
	border-collapse: collapse;
	margin: 10px 0;
}

table th,
table td {
	padding: 5px;
}

.date {
	height: 40px;
	display: flex;
	
}

.date form {
	height: 25px;
	width: 25px;
	padding: 5px;
}

.date form button {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}


#confirm_column,
#reject_column {
	width: 50px;
}

#confirm_column form, 
#reject_column form {
	padding: 0;
	margin: 0;
	width: 50px;
}

#confirm_column form button,
#reject_column form button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	height: 50px;
	width: 50px;
}

#confirm_column form button i,
#reject_column form button i {
	font-size: 2em;
}


.pagination {
	display: flex;
	margin-bottom: 15px;
}

.pagination li {
	margin: 0 5px;
}





/*GOODS*/

.goods {
	margin: 20px 0;
}

.goods li {
	font-size: 1.2em;
	display: flex;
	flex-direction: row;
}

.goods form {
	width: 20px;
	margin: 0;
	padding: 0;
}

.goods button {
	border: none;
	background: none;
	cursor: pointer;
	width: 20px;
	height: 25px;
}

.goods i {
	font-size: 1.3em;
}




h3[class^="see_more"] ~ table {
	display: none;
}

h3[class^="see_more"] ~ table.show {
	display: block;
}